@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Sistema de Busqueda </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
    <div class="container">
        <div class="card card-login">
            <div class="card-header bg-dark text-white">
                <h3> Ingreso al Sistema </h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label> Usuario </label>
                    <input type="text" class="form-control"/> 
                </div>
                <div>
                    <label> Contraseña </label>
                    <input type="password" class="form-control" />
                </div>
                
                <button class="btn btn-dark"> Ingresar </button>
            </div>

        </div>










    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
